.container {
  height: 100%;
  width: 100%;
  display: flex;
  @media (orientation: portrait) {
    flex-direction: column;
  }

  .board {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    padding: 0.5rem;
    box-sizing: border-box;

    @media (orientation: portrait) {
      flex-direction: column;
    }

    .spacer {
      width: 1rem;
      height: 1rem;
      flex: 0 0 1rem;
    }
  }

  .stats {
    margin: 2rem;
    flex: 0 1 auto;
  }

  .spacer {
    flex: 1;
  }
}

