:host {
  display: block;
  margin: 1rem;

  &.--success {
    border: 2px solid darkgreen;
    border-radius: 4px;
    background-color: #c3e3c3;
  }

  .correct-guess {
    display: inline-block;
  }
}
