$itemHeight: 2rem;
$operatorColor: lightblue;
$lockedCellColor: #cbc9c9;
$answerColor: #ceff96;
$solutionColor: darkgreen;
$cellBorder: 1px solid dimgray;
$solutionBorder: 2px solid $solutionColor;

:host {
  display: block;
}

.rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  > .solution {
    border: $solutionBorder;
    border-radius: 5px;
    background-color: #c3e3c3;
    align-self: stretch;
    height: $itemHeight;

    > *:first-child {
      flex: 1;
    }
  }

  // operators and equation rows
  > * {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .cdk-drag-placeholder {
      //opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    &.list {
      .cell {
        border-radius: 5px;
        border: $cellBorder;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1;
        height: $itemHeight;

        cursor: move;
        margin: 0.25rem;


        &--operator {
          background-color: $operatorColor;
        }

        &--disabled {
          cursor: unset;
          background-color: $lockedCellColor;
        }

        &--answer {
          background-color: $answerColor;
        }

      }
    }

  }
}



