$highlightBackColor: #e3f8ff;
$highlightForeColor: green;
$lockedCellForeColor: black;
$cellForeColor: royalblue;
$selectedBackColor: lightgreen;

:host {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 7vmin;

  .body {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  &.--selected > .body {
    font-weight: bold;
    background-color: $selectedBackColor;
  }

  &.--highlightNumber > .body {
    font-weight: bold;
    background-color: $highlightBackColor;
    color: $highlightForeColor;
  }

  &.--highlightSet > .body {
    background-color: $highlightBackColor;
  }

  &.--invalid > .body {
    background-color: #ffeeee;
    color: darkred;
  }

  // locked cells will be black, others will be blue
  color: $cellForeColor;

  &.--locked {
    color: $lockedCellForeColor;
  }

  > .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
