
.container {
  height: 100%;
    width: 100%;
  display: flex;
  @media (orientation: portrait) {
    flex-direction: column;
  }
  //justify-content: center;
  //align-items: center;


  .board {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;

    @media (orientation: portrait) {
      flex-direction: column;
    }

    .controls {
      > button {
        display: block;
      }
    }

    .spacer {
      width: 1rem;
      height: 1rem;
      flex: 0 0 1rem;
    }

    .controls {
      justify-content: space-around;
    }

    .numbers {
      justify-content: space-between;
    }

    .controls, .numbers {
      > button {
        font-size: 2rem;
      }
    }

    .controls, .numbers {
      display: flex;
      flex-direction: column;
      @media (orientation: portrait) {
        flex-direction: row;
      }
    }
  }

  .stats {
    margin: 2rem;
    flex: 0 1 auto;

    .settings {
      display: flex;
      flex-direction: column;
      align-items: center;

      .numbers {
        display: flex;
      }
    }
  }
}
