
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .stats {
    flex: 0 1 auto;

    .settings {
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons {
        display: flex;
      }
    }
  }
}
