
.container {
  height: 100%;
  display: flex;
  @media (orientation: portrait) {
    flex-direction: column;
  }
  justify-content: center;
  align-items: center;

  .test {
    border:2px solid red;
    aspect-ratio: 1 / 1;
    width: 500px;
  }
  sudoku-board, .test {
    flex: 1;
  }
  .stats {
    margin: 2rem;
    flex: 0 1 auto;

    .settings {
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons {
        display: flex;
      }
    }
  }
}
