<form [formGroup]="settingsForm">
  <div class="settings">
    <div class="numbers"></div>
    <mat-slide-toggle
      formControlName="highlightNumber"
      title="If a filled in cell is selected,all cells with the same value will be highlighted">
      Highlight Same Numbers
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="highlightSets"
      title="If a cell is selected, all cells in the same row, column, or region set will be highlighted">
      Highlight Selected Sets
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="highlightBlanks"
      title="If a blank is selected, all other blanks will be highlighted">
      Highlight Same Blanks
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="showNotes"
      title="Display existing notes in empty cells">
      Show Notes
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="autoClearNotes"
      title="Automatically Clear Invalid Notes">
      Auto Clear Notes
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="autoFillNotes"
      title="Automatically Fill Valid Notes">
      Auto Fill Notes
    </mat-slide-toggle>

    <mat-slide-toggle
      formControlName="highlightInvalidCells"
      title="Highlight Invalid Cells">
      Highlight Invalid Cells
    </mat-slide-toggle>

    <mat-button-toggle-group
      name="inputMode"
      aria-label="Input Mode"
      formControlName="notesMode">
      <mat-button-toggle [value]="false">Value</mat-button-toggle>
      <mat-button-toggle [value]="true">Notes</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</form>
