:host {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 7vmin;

  .body {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  &.--selected > .body {
    font-weight: bold;
    border: 1px solid green;
    background-color: lightgreen;
  }

  &.--highlightNumber > .body {
    background-color: lightblue;
    color: green;
  }

  &.--highlightSet > .body {
    background-color: #e3f8ff;
  }

  // locked cells will be black, others will be blue
  color: royalblue;

  &.--locked {
    color: black;
  }

  > .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
