$cellSize: 2rem;

:host {
  width: $cellSize;
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 1.5rem;

  &.--selected > .body {
    font-weight: bold;
    border: 1px solid green;
    background-color: lightgreen;
  }

  &.--highlightNumber > .body {
    background-color: lightblue;
    color: green;
  }

  &.--highlightSet > .body {
    background-color: #e3f8ff;
  }

  // locked cells will be black, others will be blue
  color: royalblue;

  &.--locked {
    color: black;
    //background-color: lightgoldenrodyellow;
    //color: gray;
  }

  > .body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
