:host {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: stretch;
  justify-content: space-around;
  font-size: 25%;
  width: 100%;
  height: 100%;

  > * {
    // center text vertically and horizontally
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
