.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;

  //@media (orientation: portrait) {
  //  flex-direction: row;
  //}
  > button {
    display: block;
    font-size: 2rem;
    text-align: left;

    &:not(last-child) {
      margin-bottom: 1rem;
    }
  }
}

:host {
  display: block;
  padding: 0 2rem 0 2rem;
}
