<div class="buttons">
  <button mat-mini-fab (click)="sudokuService.undo()" title="Undo">
    <mat-icon>undo</mat-icon>
  </button>
  <button mat-mini-fab (click)="sudokuService.redo()" title="Redo">
    <mat-icon>redo</mat-icon>
  </button>
  <button mat-mini-fab (click)="solve()" title="Solve">
    <mat-icon>auto_fix_high</mat-icon>
  </button>
  <button
    mat-mini-fab
    (click)="sudokuService.hint()"
    title="Hint"
    [disabled]="!sudokuService.selectedPosition"
  >
    <mat-icon>new_releases</mat-icon>
  </button>
  <button mat-mini-fab (click)="reset()" title="Reset">
    <mat-icon>restart_alt</mat-icon>
  </button>
  <button mat-mini-fab (click)="clear()" title="Clear">
    <mat-icon>delete</mat-icon>
  </button>
  <button mat-mini-fab (click)="generate()" title="Generate">
    <mat-icon>factory</mat-icon>
  </button>
</div>

<ng-template #confirmation let-data>
<h1 mat-dialog-title>{{data.name}}</h1>
<div mat-dialog-content>
  <p>Are you sure you want to {{data.description}}?</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">No Thanks</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Yes</button>
</div>
</ng-template>
