<ng-container *ngFor="let row of sudokuService.board; let r = index">
  <ng-container *ngFor="let cell of row; let c = index">
    <sudoku-cell
      (click)="selectCell({ r: r, c: c })"
      [selected]="isSelected({ r: r, c: c })"
      [highlightNumber]="isHighlighted({ r: r, c: c }, cell)"
      [highlightInvalid]="isInvalid({r: r, c: c})"
      [highlightSet]="
        sudokuService.selectedPosition &&
        settings.highlightSets &&
        isSameSet({ r: r, c: c }, this.sudokuService.selectedPosition)
      "
      [locked]="sudokuService.isPositionLocked({ r: r, c: c })"
      [value]="cell"
      [notes]="getNotes({ r: r, c: c })"
      [showNotes]="settings.showNotes"
    >
    </sudoku-cell>
  </ng-container>
</ng-container>


<ng-container *ngIf="loading">
  <div class="loading">
    <div class="backdrop"></div>
    <div class="overlay">
      <mat-progress-spinner mode="indeterminate">
      </mat-progress-spinner>
    </div>
  </div>
</ng-container>
