.numbers {
  display: flex;
  flex-direction: column;
  height:100%;
  @media (orientation: portrait) {
    flex-direction: row;
  }

  justify-content: space-between;

  > button {
    font-size: 2rem;
  }
}
